snippet desc
	describe('${1}', () => {
	})
snippet it
	it('${1}', () => {
	})
snippet class
	class ${1} {

		constructor(${2}) {
		}

	}
snippet im
	import ${1} from '${2}'

snippet ()
	(${1}) => {
	}
